Repository BirthdayResearch/defichain-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @fuxingloh, @monstrobishi

update lock
  package-lock.json
  webapp/package-lock.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump(node): updated node version to 4.2.0 (#1313)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update snapshot.ts
  typings/snapshot.ts
Owners: none

Update package-lock.json
  package-lock.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package-lock.json
  webapp/package-lock.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package-lock.json
  package-lock.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package-lock.json
  webapp/package-lock.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Create release_new.yml
  .github/workflows/release_new.yml
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Delete .github/workflows/release_new.yml
  .github/workflows/release_new.yml
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump node to v4.2.4, Update Snapshot to mydefichain (#1317)
  package-lock.json
  package.json
  typings/snapshot.ts
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Delete unproductive mgmt overhead
  .github/governance.yml
  .github/labels.yml
  .github/stale.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/sync-labels.yml
Owners: @fuxingloh, @thedoublejay, @monstrobishi

Disable MacOS builds temporarily
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
Owners: @thedoublejay, @fuxingloh, @monstrobishi

.github/CODEOWNERS:

# Define individuals or teams that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                         @thedoublejay @fuxingloh @monstrobishi
/.github/workflows/oss-governance-bot.yml         @fuxingloh
/.github/governance.yml                           @fuxingloh

tsconfig.json                                     @thedoublejay @fuxingloh @monstrobishi
tsconfig.production.json                          @thedoublejay @fuxingloh @monstrobishi

package.json                                      @thedoublejay @fuxingloh @monstrobishi
package-lock.json                                 @thedoublejay @fuxingloh @monstrobishi

*.sh                                              @thedoublejay @fuxingloh @monstrobishi
*.cmd                                             @thedoublejay @fuxingloh @monstrobishi
*.ps1                                             @thedoublejay @fuxingloh @monstrobishi

LICENSE                                           @thedoublejay @fuxingloh @monstrobishi
