Repository BirthdayResearch/defichain-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @fuxingloh, @monstrobishi

added APPLE_APP_SPECIFIC_PASSWORD field
  .github/workflows/release-builds.yml
Owners: @thedoublejay, @fuxingloh, @monstrobishi

remove aftersign
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore disable noterisation (#1278)
  .github/workflows/release-builds.yml
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore enable app signing for mac
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

updated electron-notarize
  .github/workflows/dev-builds.yml
  electron-app/assets/notarize.js
  package-lock.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore enable app signing for mac (#1279)
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
  electron-app/assets/notarize.js
  package-lock.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

updated app version
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore updated app version (#1280)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

fix(ui-ux): fixed click functionality on menu items
  webapp/src/scss/_layout.scss
Owners: none

build(deps): updated node version to v4.0.5
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

fix(ui-ux): fixed click functionality on menu items (#1283)
  webapp/src/scss/_layout.scss
Owners: none

build(deps): updated node version to v4.0.5 (#1284)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

build(deps): updated node version to v4.0.6
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

build(deps): updated node version to v4.0.6 (#1291)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

fix(ui-ux): enabled click on cancel btn for snapshot download page
  webapp/src/scss/_layout.scss
Owners: none

build(deps): updated node version to v4.0.9
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

fix(ui-ux): enabled click on cancel btn for snapshot download page (#1298)
  webapp/src/scss/_layout.scss
Owners: none

build(deps): updated node version to v4.0.9 (#1299)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

update(ci): updated automated replay message for newly created issue
  .github/governance.yml
Owners: @fuxingloh

fix noterisation issue
  electron-app/assets/notarize.js
  package-lock.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

added teamId
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
  electron-app/assets/notarize.js
Owners: @thedoublejay, @fuxingloh, @monstrobishi

updated electron-builder version
  package-lock.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

commented appBundleId
  electron-app/assets/notarize.js
  package-lock.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

updated ci actions versions
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
  .github/workflows/sync-labels.yml
Owners: @thedoublejay, @fuxingloh, @monstrobishi

update(ci): workflow updates (#1301)
  .github/governance.yml
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
  .github/workflows/sync-labels.yml
  electron-app/assets/notarize.js
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @monstrobishi

bump(node): updated node version to 4.1.0
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump(node): updated node version to 4.1.0 (#1303)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

enabled mac-x64-build
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

enabled mac-x64-build (#1304)
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

updated package.json
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

fix(release) enabled mac-x64-build (#1305)
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

update(core): added mac universal build and updated release app names
  .github/workflows/release-builds.yml
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

update(core): added mac universal build and updated release app names (#1307)
  .github/workflows/release-builds.yml
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Revert "update(core): added mac universal build and updated release app names…"
  .github/workflows/release-builds.yml
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Revert "update(core): added mac universal build and updated release app names…" (#1308)
  .github/workflows/release-builds.yml
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update release-builds.yml
  .github/workflows/release-builds.yml
Owners: @thedoublejay, @fuxingloh, @monstrobishi

update(core): added mac universal build (#1309)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update package.json for using the right cli arch for build the electron-app.
  package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update prebuild.js for choosing the right cli arch for build electron-app
  scripts/prebuild.js
Owners: none

ain 4.2.1
  package.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

.github/CODEOWNERS:

# Define individuals or teams that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                         @thedoublejay @fuxingloh @monstrobishi
/.github/workflows/oss-governance-bot.yml         @fuxingloh
/.github/governance.yml                           @fuxingloh

tsconfig.json                                     @thedoublejay @fuxingloh @monstrobishi
tsconfig.production.json                          @thedoublejay @fuxingloh @monstrobishi

package.json                                      @thedoublejay @fuxingloh @monstrobishi
package-lock.json                                 @thedoublejay @fuxingloh @monstrobishi

*.sh                                              @thedoublejay @fuxingloh @monstrobishi
*.cmd                                             @thedoublejay @fuxingloh @monstrobishi
*.ps1                                             @thedoublejay @fuxingloh @monstrobishi

LICENSE                                           @thedoublejay @fuxingloh @monstrobishi
