Repository BirthdayResearch/defichain-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @fuxingloh, @monstrobishi

.github/CODEOWNERS:

# Define individuals or teams that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                         @thedoublejay @fuxingloh @monstrobishi
/.github/workflows/oss-governance-bot.yml         @fuxingloh
/.github/governance.yml                           @fuxingloh

tsconfig.json                                     @thedoublejay @fuxingloh @monstrobishi
tsconfig.production.json                          @thedoublejay @fuxingloh @monstrobishi

package.json                                      @thedoublejay @fuxingloh @monstrobishi
package-lock.json                                 @thedoublejay @fuxingloh @monstrobishi

*.sh                                              @thedoublejay @fuxingloh @monstrobishi
*.cmd                                             @thedoublejay @fuxingloh @monstrobishi
*.ps1                                             @thedoublejay @fuxingloh @monstrobishi

LICENSE                                           @thedoublejay @fuxingloh @monstrobishi

Update fr.json
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json (#1143)
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json
  webapp/src/translations/languages/fr.json
Owners: none

Update de.json
  webapp/src/translations/languages/de.json
Owners: none

Update de.json
  webapp/src/translations/languages/de.json
Owners: none

Update de.json standardization (#1149)
  webapp/src/translations/languages/de.json
Owners: none

Update fr.json (#1148)
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json
  webapp/src/translations/languages/fr.json
Owners: none

Update fr.json (#1153)
  webapp/src/translations/languages/fr.json
Owners: none

chore: bump to 2.6.2 node
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore: bump to 2.6.2 node (#1155)
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore: fix missing node zip
  package-lock.json
  package.json
  scripts/prebuild.js
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Updated cache policy and added missing cache for rpc calls
  webapp/package-lock.json
  webapp/package.json
  webapp/src/constants/configs.ts
  webapp/src/containers/BlockchainPage/service.tsx
  webapp/src/containers/TokensPage/service.tsx
  webapp/src/utils/lruCache.ts
  webapp/src/utils/rpc-client.ts
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Added caching and code cleanup
  webapp/src/containers/RpcConfiguration/service.ts
  webapp/src/containers/TokensPage/service.tsx
  webapp/src/utils/rpc-client.ts
  webapp/src/worker/schedular/updateBalance.ts
Owners: none

Updated default cash time
  webapp/src/utils/lruCache.ts
Owners: none

clear cache on network change
  webapp/src/containers/SettingsPage/saga.tsx
  webapp/src/utils/rpc-client.ts
Owners: none

cache key updated
  webapp/src/utils/rpc-client.ts
Owners: none

feature(api): added rpc api cache to avoid repetitive calls (#1159)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/constants/configs.ts
  webapp/src/containers/BlockchainPage/service.tsx
  webapp/src/containers/RpcConfiguration/service.ts
  webapp/src/containers/SettingsPage/saga.tsx
  webapp/src/containers/TokensPage/service.tsx
  webapp/src/utils/lruCache.ts
  webapp/src/utils/rpc-client.ts
  webapp/src/worker/schedular/updateBalance.ts
Owners: @thedoublejay, @fuxingloh, @monstrobishi

chore: bump packages
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/containers/Sidebar/__test__/index.test.tsx
  webapp/src/containers/SyncStatus/__test__/index.test.tsx
  webapp/src/containers/WalletPage/__test__/createNewAddressPage.test.tsx
  webapp/src/containers/WalletPage/components/ReceivePage/CreateNewAddressPage/__test__/index.test.tsx
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump workflows
  .github/workflows/dev-builds.yml
  .github/workflows/release-builds.yml
  .github/workflows/sync-labels.yml
  .nvmrc
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump version
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

add size fix
  webapp/src/utils/utility.ts
Owners: none

bump node and display poolshares
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/containers/LiquidityPage/components/LiquidityList/index.tsx
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump to release versions
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

Update de.json
  webapp/src/translations/languages/de.json
Owners: none

Update de.json (#1172)
  webapp/src/translations/languages/de.json
Owners: none

Revert "feature(api): added rpc api cache to avoid repetitive calls (#1159)"
  webapp/package-lock.json
  webapp/src/constants/configs.ts
  webapp/src/containers/BlockchainPage/service.tsx
  webapp/src/containers/RpcConfiguration/service.ts
  webapp/src/containers/SettingsPage/saga.tsx
  webapp/src/containers/TokensPage/service.tsx
  webapp/src/utils/lruCache.ts
  webapp/src/utils/rpc-client.ts
  webapp/src/worker/schedular/updateBalance.ts
Owners: @thedoublejay, @fuxingloh, @monstrobishi

bump package
  package-lock.json
  package.json
  webapp/package-lock.json
  webapp/package.json
Owners: @thedoublejay, @fuxingloh, @monstrobishi

feature(core): added slippage tolerance for swap
  webapp/src/components/SlippageTolerance/SlippageTolerance.module.scss
  webapp/src/components/SlippageTolerance/index.tsx
  webapp/src/constants/configs.ts
  webapp/src/containers/SwapPage/__test__/swapTab.test.tsx
  webapp/src/containers/SwapPage/components/SwapTab/index.tsx
  webapp/src/containers/SwapPage/index.tsx
  webapp/src/containers/SwapPage/service.tsx
  webapp/src/translations/languages/de.json
  webapp/src/translations/languages/en.json
  webapp/src/translations/languages/fr.json
  webapp/src/translations/languages/zhs.json
  webapp/src/translations/languages/zht.json
  webapp/src/utils/rpc-client.ts
Owners: none

Updated input field design for slippage
  webapp/src/components/SlippageTolerance/index.tsx
Owners: none

Removed slippage btn
  webapp/src/components/SlippageTolerance/index.tsx
Owners: none

Updated InputGroup for slippage
  webapp/src/components/SlippageTolerance/index.tsx
  webapp/src/containers/SwapPage/index.tsx
Owners: none

removed cache for getBlockChainInfo
  webapp/src/utils/rpc-client.ts
Owners: none

css update
  webapp/src/components/SlippageTolerance/index.tsx
Owners: none

chore(workflows): cleanup workflow permissions and names
  .github/workflows/oss-governance-bot.yml
  .github/workflows/release-drafter.yml
Owners: @fuxingloh, @thedoublejay, @monstrobishi

chore(workflows): cleanup workflow permissions and names (#1191)
  .github/workflows/oss-governance-bot.yml
  .github/workflows/release-drafter.yml
Owners: @fuxingloh, @thedoublejay, @monstrobishi

feature(core): added slippage tolerance for swap (#1187)
  webapp/src/components/SlippageTolerance/SlippageTolerance.module.scss
  webapp/src/components/SlippageTolerance/index.tsx
  webapp/src/constants/configs.ts
  webapp/src/containers/SwapPage/__test__/swapTab.test.tsx
  webapp/src/containers/SwapPage/components/SwapTab/index.tsx
  webapp/src/containers/SwapPage/index.tsx
  webapp/src/containers/SwapPage/service.tsx
  webapp/src/translations/languages/de.json
  webapp/src/translations/languages/en.json
  webapp/src/translations/languages/fr.json
  webapp/src/translations/languages/zhs.json
  webapp/src/translations/languages/zht.json
  webapp/src/utils/rpc-client.ts
Owners: none
